.container {
  width: 95%;
  height: 100%;

  margin: 20px auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.box1 {
  width: 20%;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 0 20px;

  width: 50%;
}

.box3 {
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .box1 {
    width: 100%;
    margin-top: 10px;
  }

  .box2 {
    width: 100%;
    margin-top: 10px;
  }

  .box3 {
    width: 100%;
    margin-top: 10px;
  }
}
