.container {
  width: 100%;
  height: 200px;
  background: #fff;
  border-radius: 10px;

  margin-bottom: 20px;

  padding: 10px;
}

.header {
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header button {
  margin-left: auto;
  margin-bottom: 40px;
  font-size: 20px;
}

.header > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid rgb(0, 187, 131);
}

.header > div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  margin-left: 5px;

  width: 40%;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 187, 131);
}

.time {
  font-size: 10px;
}

.status {
  font-size: 10px;
  margin-left: 10px;
}

.main > span {
  font-size: 14px;
  margin-left: 5px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
  border-bottom: 1px solid rgb(110, 110, 110, 0.3);
  padding-bottom: 5px;
}

.bottom span {
  font-size: 12px;
}

.bottom > div span:first-child {
  margin-right: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 10px 0;
    height: auto;
  }
}
